## Project1: Movie Genre classification 
- I have to create a machine learning model that can predict the genre of a movie based on it's plot summary or other textual information.
- Next i can use the techniques like TF-IDF or word embedding with classifer such as Navie Bayes, Logistic Regression or Support Vector machine

In [27]:
# importing different libraries 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import re # regular expression for pattern matching
import string # dealing with string operation
import nltk # for text processing
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')
pd.set_option('display.max_columns',None)#displaying the all columns

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/milandangi/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/milandangi/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/milandangi/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /Users/milandangi/nltk_data...

## loading dataset - train_data and test_data
- When i checked data i found it's in the txt format and separated by ':::' and there is not index too.
- So, I make the index into 3 parts(title, genre and description)

In [2]:

train_df = pd.read_csv('train_data.txt', sep= ':::',names=['title','genre','description'])
test_df =pd.read_csv('test_data.txt',sep=':::', names = ['title','genre','description'])

/var/folders/dn/6rswl2cs6j3cg53031stv1m80000gn/T/ipykernel_10644/2001455174.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  train_df = pd.read_csv('train_data.txt', sep= ':::',names=['title','genre','description'])
/var/folders/dn/6rswl2cs6j3cg53031stv1m80000gn/T/ipykernel_10644/2001455174.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  test_df =pd.read_csv('test_data.txt',sep=':::', names = ['title','genre','description'])

In [3]:
train_df.head()

,title,genre,description
1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his do...
2,Cupid (1997),thriller,A brother and sister with a past incestuous r...
3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fie...
4,The Secret Sin (1915),drama,To help their unemployed father make ends mee...
5,The Unrecovered (2007),drama,The film's title refers not only to the un-re...

## Data Cleaning and Preprocessing

In [7]:
# shape
train_df.shape

(54214, 3)

In [8]:
# breif description of dataset
train_df.describe()

,title,genre,description
count,54214,54214,54214
unique,54214,27,54086
top,Oscar et la dame rose (2009),drama,Grammy - music award of the American academy ...
freq,1,13613,12

### Handling Missing Values

In [9]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54214 entries, 1 to 54214
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        54214 non-null  object
 1   genre        54214 non-null  object
 2   description  54214 non-null  object
dtypes: object(3)
memory usage: 1.7+ MB

In [10]:
train_df.isna().sum()

title          0
genre          0
description    0
dtype: int64

In [11]:
#checking different genre 
train_df.genre.value_counts()

 drama           13613
 documentary     13096
 comedy           7447
 short            5073
 horror           2204
 thriller         1591
 action           1315
 western          1032
 reality-tv        884
 family            784
 adventure         775
 music             731
 romance           672
 sci-fi            647
 adult             590
 crime             505
 animation         498
 sport             432
 talk-show         391
 fantasy           323
 mystery           319
 musical           277
 biography         265
 history           243
 game-show         194
 news              181
 war               132
Name: genre, dtype: int64

In [12]:
train_df.duplicated().sum()

0

In [13]:
train_df['description'][1]

' Listening in to a conversation between his doctor and parents, 10-year-old Oscar learns what nobody has the courage to tell him. He only has a few weeks to live. Furious, he refuses to speak to anyone except straight-talking Rose, the lady in pink he meets on the hospital stairs. As Christmas approaches, Rose uses her fantastical experiences as a professional wrestler, her imagination, wit and charm to allow Oscar to live life and love to the full, in the company of his friends Pop Corn, Einstein, Bacon and childhood sweetheart Peggy Blue.'

### Text Cleaning

In [35]:

def preprocess_text(text):
    text = text.lower()
    #removing special characters and digits using re
    text = re.sub('r\d','',text)#remove digits
    text =re.sub('r[^\w\s]','',text)#remove special character
    
    #tokenize the text
    token = nltk.word_tokenize(text)
    return token

In [36]:
# let's remove stopwords like 'the', 'is',..
def remove_stopwords(tokens):
    # import stopwords from nltk library for english language and convert into set dat structure
    stop_words = set(stopwords.words('english'))
    #filtering words
    filtered_tokens = [word for word in tokens if word not in stop_words]
    return filtered_tokens

In [40]:
#let's change the words like ( dance, dancer,dances,dancing) into (dance)
def perform_lemmatization(tokens):
    lemmatizer = nltk.WordNetLemmatizer()
    lemmatized_tokens = [lemmatizer.lemmatize(token) for token in tokens]
    return lemmatized_tokens

In [41]:
#let's combine all function together
def clean_text(text):
    tokens = preprocess_text(text)
    filtered_tokens = remove_stopwords(tokens)
    lemmatized_tokens = perform_lemmatization(filtered_tokens)
    clean_text = ' '.join(lemmatized_tokens)
    return clean_text

In [42]:
#applying text cleaning to dataset
train_df['description_clean']=train_df['description'].apply(clean_text)

In [43]:
#text after cleaning
train_df['description_clean'][1]

'listening conversation doctor parent , 10-yeaold oscar learns nobody courage tell . week live . furious , refuse speak anyone except straight-talking rose , lady pink meet hospital stair . christmas approach , rose us fantastical experience professional wrestle imagination , wit charm allow oscar live life love full , company friend pop corn , einstein , bacon childhood sweetheart peggy blue .'